/***** SIZES *****/
/*Ai Fonts*/
/*Ai Colors*/
/*TEXT SIZES*/
/* Screen Sizes */
/* Full Screen Width Text Sizes */
/* Large Screen Width Text Sizes */
/* Medium Screen Width Text Sizes */
/*Font Weight*/
a:hover {
  text-decoration: none; }

/*FONTS */
html {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6, p, .navbar, header.masthead {
  font-family: "Roboto", sans-serif; }

.bold-yellow-text {
  font-size: 1.2rem;
  letter-spacing: .9px;
  color: #f2ae09;
  font-weight: bold; }

/*Color*/
.yellow {
  color: #f2ae09; }

/*Text Sizes*/
.xs-text {
  font-size: 54%;
  font-weight: 400; }

.sm-text {
  font-size: 72%; }

.small-lg-text {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: -1.3px; }

.x-small-lg-text {
  font-size: 1.2rem;
  font-weight: 900; }

.tiny-ft {
  font-size: 0.9rem; }

.hero-lg {
  font-size: 4rem; }

.hero-md {
  font-size: 2.5rem; }

.hero-sm {
  font-size: 1.9rem; }

.section-header {
  font-size: 1.5rem; }

/*Font Weight*/
.bold {
  font-weight: 700; }

/*Extra*/
.underline {
  text-decoration: underline; }

/*BTNS*/
.btn-primary:not([disabled]):not(.disabled):active {
  color: #052a3d;
  background-color: #0062cc;
  border-color: #005cbf;
  box-shadow: none; }

/***** MODULES *****/
.award-container {
  text-align: center; }
  .award-container img {
    width: 47%;
    display: inline-block;
    margin-bottom: 8px; }

/***** NAVBAR *****/
.navbar {
  color: #052a3d; }
  .navbar .navbar-brand {
    margin-right: 0rem; }
  .navbar a {
    color: #052a3d; }
    .navbar a:hover {
      color: #00afef; }
  .navbar .row {
    width: 100%; }
  .navbar .navbar-brand img {
    width: 100%; }
  .navbar .phone-container {
    text-align: center;
    margin-bottom: 8px; }
    .navbar .phone-container p, .navbar .phone-container a {
      font-size: 1.2rem;
      padding: 0px;
      margin: 0px; }

/***** HERO SECTIONS *****/
header.masthead {
  background: url("../img/family-hero.png") no-repeat;
  background-size: 1112px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #dedede;
  transition: background-color 1s ease; }
  header.masthead::before {
    content: "";
    background-color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: opacity 1s ease; }
  header.masthead .overlay {
    background: -webkit-linear-gradient(right, #919191 8%, rgba(145, 145, 145, 0) 80%);
    background: -o-linear-gradient(right, #919191 8%, rgba(145, 145, 145, 0) 80%);
    background: -moz-linear-gradient(right, #919191 8%, rgba(145, 145, 145, 0) 80%);
    background: linear-gradient(to left, #919191 8%, rgba(145, 145, 145, 0) 80%); }
  header.masthead .row {
    height: 100%; }
  header.masthead .hero-text-block {
    font-weight: 900;
    margin-bottom: 32px;
    color: #052a3d; }
    header.masthead .hero-text-block .hero-lg {
      margin-bottom: -22px; }
    header.masthead .hero-text-block .hero-md {
      margin-bottom: -4px; }
    header.masthead .hero-text-block h2 {
      font-size: 29px; }
    header.masthead .hero-text-block p {
      margin-bottom: -12px; }
  header.masthead .hero-text-block-sm-screen {
    display: none; }
  header.masthead .help-container {
    background: -webkit-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #0b557a, rgba(11, 85, 122, 0.4));
    /* Standard syntax (must be last)*/
    height: 354px; }
    header.masthead .help-container .bold-yellow-text {
      padding: 8px;
      margin-bottom: 0px; }
    header.masthead .help-container .help-container-bottom {
      font-size: 1.18rem; }
      header.masthead .help-container .help-container-bottom ul {
        padding-bottom: 22px; }
    header.masthead .help-container p {
      margin-left: 21px;
      margin-top: 16px;
      margin-bottom: 0px;
      font-size: 1.5rem;
      font-weight: 700; }
  header.masthead .help-ticker {
    background-color: #00afef;
    padding: 10px;
    color: #052a3d; }
    header.masthead .help-ticker p {
      font-size: .9rem;
      margin: 0px; }
  header.masthead .form-container {
    background-color: #052a3d;
    text-align: center;
    padding: 20px 26px; }
    header.masthead .form-container h2 {
      font-size: 1.8rem; }
    header.masthead .form-container .form-control {
      padding: .145rem .75rem;
      border-radius: 0rem; }
      header.masthead .form-container .form-control #state {
        border-radius: .145px; }
    header.masthead .form-container .form-check-label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      text-align: left;
      color: #f2ae09; }
    header.masthead .form-container .form-check-input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin: 0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      overflow: hidden; }
    header.masthead .form-container select {
      margin-bottom: .8rem; }
    header.masthead .form-container button {
      background-color: #f2ae09;
      border-color: #f2ae09;
      padding: .3rem 2.5rem;
      color: #052a3d;
      font-weight: 900;
      margin-bottom: .8rem;
      font-size: 1.8rem; }
      header.masthead .form-container button:hover {
        cursor: pointer;
        background-color: #ffcf5c; }

/***** TESTIMONALS *****/
.ai-testimonials {
  padding: 1rem 0rem;
  color: #052a3d; }
  .ai-testimonials .section-header {
    letter-spacing: .01rem;
    font-weight: 900; }
  .ai-testimonials .name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0rem; }
  .ai-testimonials .address {
    font-size: .95rem;
    margin-bottom: .8rem; }
  .ai-testimonials .body {
    color: #0b0b0b; }
  .ai-testimonials img {
    width: 100%;
    max-height: 124px;
    max-width: 124px; }

/***** FOOTER *****/
.ai-footer {
  padding: 1.5rem 0rem; }
  .ai-footer .body-text {
    padding-top: 1rem;
    font-size: 1.16rem; }
  .ai-footer .top-row {
    margin-bottom: 1.6rem; }
  .ai-footer .award-container img {
    width: 40%;
    margin-right: 1rem; }
  .ai-footer img {
    width: 100%;
    margin-bottom: .4rem; }
  .ai-footer p {
    margin-bottom: .04rem;
    font-size: 1.2rem;
    letter-spacing: -.2px; }

@media (max-width: 1684px) {
  header.masthead::before {
    opacity: 0.7;
    transition: opacity 1.3s ease; } }
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
  html {
    font-size: 15px; }

  /*NAVBAR*/
  .navbar .phone-container p, .navbar .phone-container a {
    font-size: 1.2rem; }

  .small-lg-text {
    font-size: 1.4rem; }

  header.masthead .hero-text-block .hero-lg {
    font-size: 3.4rem;
    margin-bottom: -18px; }
  header.masthead .hero-text-block .hero-md {
    font-size: 2.2rem;
    margin-bottom: -3px; }
  header.masthead .hero-text-block .hero-sm {
    font-size: 1.8rem;
    margin-bottom: -10px; }
  header.masthead .form-container .form-check-label {
    text-align: center; } }
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
  html {
    font-size: 14px; }

  .small-lg-text {
    font-size: 1.2rem; }

  .navbar .row.align-items-end {
    width: auto; }

  header.masthead .hero-text-block .hero-lg {
    font-size: 3rem;
    margin-bottom: -14px; }
  header.masthead .hero-text-block .hero-md {
    font-size: 2.1rem;
    margin-bottom: 1px; }
  header.masthead .hero-text-block .hero-sm {
    font-size: 1.6rem;
    margin-bottom: -7px; }

  .testimonial-wrapper {
    margin-bottom: 10px; }
    .testimonial-wrapper.last {
      margin-bottom: 0px; }

  .ai-footer .award-container img {
    width: 38%;
    margin-right: .8rem; } }
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  html {
    font-size: 14px; }

  header.masthead {
    background-size: 929px; }
    header.masthead .hero-text-block {
      display: none; }
    header.masthead .hero-text-block-sm-screen {
      display: block;
      color: #052a3d;
      text-align: center;
      font-weight: 900;
      font-size: 1.6rem;
      line-height: 25px;
      padding-top: .8rem; }
    header.masthead .help-container {
      height: auto; }

  .navbar {
    text-align: center; }
    .navbar .row {
      width: auto; }

  .ai-footer .award-container img {
    width: 75%;
    margin-right: 0px; } }
@media (max-width: 575px) {
  html {
    font-size: 13px; }

  .award-container {
    display: none; }

  .ai-footer .body-text {
    text-align: center; }
  .ai-footer p {
    font-size: 1.1rem; }

  header.masthead {
    background-size: 0px; }
    header.masthead .form-container {
      padding: 12px 18px; }
      header.masthead .form-container .yellow {
        margin-bottom: 0px; }
    header.masthead .container .hero-text-box-container {
      padding-left: 0px;
      padding-right: 0px; }

  .ai-footer {
    padding: 0px; }
    .ai-footer .body-text {
      font-size: .9rem;
      line-height: 15px; } }

/*# sourceMappingURL=main.css.map */
